# MongoDB Connection String
CONNECTION_URL=mongodb+srv://username:password@cluster.mongodb.net/?appName=ClusterName&retryWrites=true&w=majority

# Server Port
PORT=8080

# Node Environment
NODE_ENV=production
